*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TOP CONTAINER */

/* LOGO */

.outer_container{
    width: 250%;
    height: 800px;
    background-image: url(images/beauty.png);
    background-size: cover;
}
.logo{
    display: flex;
    align-items: center;
    position: absolute;
    left: 15%;
}
.logo h2{
    font-family: Arial, Helvetica, sans-serif;
    font: 2rem;
    font-weight: 700;
}
.logo img{
    width: 80px;
    height: 80px;
}

/* NAV BAR */

nav{
    position: absolute;
    right: 10%;
    top: 4%;
}

nav ul{
    float: right;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(26, 23, 23);
    margin: 0px 20px;
    font-size: 1.5rem;
}

/* SIDE BAR OF MAIN OUTER CONTAINER */

.wrap{
    float: right;
    width: 35%;
    position: absolute;
    top: 30%;
    right: 15%;
}

.website{
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 1;
}
.wrap h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 10px 0px;
}

.wrap p{
    width: 90%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
}
button{
    font-size: 1.5rem;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: white;
    margin: 10px 0px;
}
.btn a{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

/* SOCIAL ICONS */


.social_icons img{
    margin: 10px 0px;
    width: 40px;
    height: 40px;
}
.social_icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 120%;
    bottom: 40;
}


/* Arrow Buttons */


.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 15px solid black;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-top: 15px solid rgb(0, 0, 0);
  }

  /* SHOWCASE CONTENT */

  .showcase{
    width: 80%;
    margin: auto;
  }

  .content{
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .content h1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
  }
  .content p{
    line-height: 2;
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
  }

  /* SHOWCASE GRIDS */

  .boxes img{
    height: 400px;
    width: 300px;
  }
  .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .boxes h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 15px 0px;
  }
  .boxes p{
    margin: 10px 0px;
    font-size: 1rem;
    letter-spacing: 2;
  }
  .price{
    color: rgb(218, 105, 14);
    margin-right: 15px;
    text-decoration: underline;
    font-size: 1.5rem;
  }

  .boxes h4{
    text-decoration: line-through;
  }
  .text{
    display: flex;
    align-items: end;
  }


  /* MAIN SHOWCASE */

  .main_showcase{
    width: 80%;
    margin: auto;
  }

.photoarray{
    margin-top: 40px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "photoOne photoOne photoTwo"
    "photoOne photoOne photoThree";
    grid-template-columns: 25% 25% 45%;

}
.photoarray div{
    border: 2px black solid;
}

.photoarray div:first-child{
    grid-area: photoOne;
    height: 450px;
}
.photo1{
    background-image: url(images/beauty2.png);
}
.photo2{
    background-image: url(images/beauty2.png);
}
.photo3{
    background-image: url(images/beauty2.png);
}
.photo1 h1{
    font-size: 3rem;
    width: 30%;
    float: right;
    position: relative;
    top: 40%;
    right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.photo2 h1{
    font-size: 2.5rem;
    width: 50%;
    float: left;
    position: relative;
    top: 25%;
    left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.photo3 h1{
    font-size: 2.5rem;
    width: 40%;
    float: right;
    position: relative;
    top: 30%;
    right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.photos{
    color: rgb(218, 143, 14);
  }

  .last_container{
    margin-top: 40px;
    text-align: center;
    background-image: url(images/background.png);
    height: 300px;
  }
  .last_container p{
    margin: 20px 0px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .last_container h1{
    margin: 20px 0px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .last_container input{
    margin: 20px 0px;
    width: 20%;
    height: 30px;
  }

  .footerimg{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    position: relative;
    left: 48%;
  }
  .footerimg img{
    margin: 0px 10px;
  }

@media (max-width:1368px) {
    nav ul li a{
        margin: 0px 10px;    
    }
    .showcase{
        width: 60%;
        margin: auto;
      }
    .boxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .photo1 h1{
        font-size: 1.5rem;
      }
      .photo2 h1{
        font-size: 1.5rem;
      }
      .photo3 h1{
        font-size: 1.5rem;
      }
}
@media (max-width:1068px) {
    nav{
        display: none;
    }
    .wrap h1{
        font-size: 2rem;}
        .btn button{
            font-size: 1rem;
        }
        .btn a{
            font-size: 1rem;
        }
  
}
@media (max-width:768px) {
    .boxes{
        display: grid;
        grid-template-columns: 1fr;
    }
      .showcase{
        width: 50%;
        margin: auto;
      }
      .photoarray{
    
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "photoOne"
        "photoTwo"
        "photoThree";
        grid-template-columns: 1fr;
    
    }
    .photo2{
        height: 200px;
    }
    .photo3{
        height: 200px;
    }
}
@media (max-width:368px) {
    .showcase{
        width: 90%;
        margin: auto;
      }
      .wrap h1{
        font-size: 1.5rem;}
        .wrap p{
            font-size: 1rem;
        }
        .btn button{
            font-size: 1rem;
        }
        .btn a{
            font-size: 1rem;
        }
        .photo1 h1{
            font-size: 1.5rem;
            position: relative;
            right: 25%;
        }
    }
